*{
    margin: 0;padding: 0;
}
body{
    background-color:rgb(222, 237, 237) ;
}

.container{
    background: url("./資產\ 1.svg") no-repeat center;
    width: 100%;
    // background-color: red;
    height: 85vh;
    display: flex;
    justify-content: space-between;
    // margin-top: 4rem;
    .left-block, .right-block{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 2rem ;
        // background-color: yellow;
    }

}

.weather-card{
    background-color: white;
    display: flex;
    width: 230px;
    justify-content: space-around;
    align-content: center;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 1px 3px 4px #999;
    color: rgb(29, 49, 80);
    position: relative;
    .info-card{
        position: absolute;
        transform: translateY(-3rem);
        font-size: 12px;
        background-color: rgb(255, 238, 207);
        color:rgb(130, 111, 76) ;
        padding: .3rem 1rem;
        border-radius: 10px;
        transition: .5s;
    }
    &:hover{
        .info-card{
            position: absolute;
            transform: translateY(-3rem);
            font-size: 12px;
            background-color: rgb(255, 238, 207);
            color:rgb(130, 111, 76) ;
            padding: .3rem 1rem;
            width: 230px;
            text-align: center;
            border-radius: 10px;
            opacity: 1 !important;
        }
    }

    
    .text-title{
        display: flex;
        h3{
            font-size: 20px;
            cursor: pointer;
        }
        span{
            font-size: 14px;
            align-self:flex-end;
            margin-left:.5rem;
        }
    }
    .text-area{
        margin-right: 1rem;
    }
    .icon-area{
        font-size: 40px;
        padding-top: .5rem;
    }
}

select{
    display: block;
    width: 30%;
    margin:2rem auto;
    text-align: center;
}